tamagotchi-authorization/bin/Debug/netcoreapp2.1/tamagotchi-authorization.runtimeconfig.dev.json
tamagotchi-authorization/bin/Debug/netcoreapp2.1/tamagotchi-authorization.pdb
tamagotchi-authorization/bin/Debug/netcoreapp2.1/tamagotchi-authorization.dll
tamagotchi-authorization/bin/Debug/netcoreapp2.1/tamagotchi-authorization.deps.json
tamagotchi-authorization/bin/Debug/netcoreapp2.1/tamagotchi-authorization.runtimeconfig.json
tamagotchi-authorization/obj/tamagotchi-authorization.csproj.nuget.g.props
tamagotchi-authorization/obj/tamagotchi-authorization.csproj.nuget.cache
tamagotchi-authorization/obj/Debug/netcoreapp2.1/tamagotchi-authorization.pdb
tamagotchi-authorization/obj/Debug/netcoreapp2.1/tamagotchi-authorization.dll
tamagotchi-authorization/obj/Debug/netcoreapp2.1/tamagotchi-authorization.csprojAssemblyReference.cache
tamagotchi-authorization/obj/Debug/netcoreapp2.1/tamagotchi-authorization.csproj.FileListAbsolute.txt
tamagotchi-authorization/obj/Debug/netcoreapp2.1/tamagotchi-authorization.csproj.CoreCompileInputs.cache
tamagotchi-authorization/obj/Debug/netcoreapp2.1/tamagotchi-authorization.assets.cache
tamagotchi-authorization/obj/Debug/netcoreapp2.1/tamagotchi-authorization.RazorTargetAssemblyInfo.cache
tamagotchi-authorization/obj/Debug/netcoreapp2.1/tamagotchi-authorization.RazorAssemblyInfo.cs
tamagotchi-authorization/obj/Debug/netcoreapp2.1/tamagotchi-authorization.RazorAssemblyInfo.cache
tamagotchi-authorization/obj/Debug/netcoreapp2.1/tamagotchi-authorization.AssemblyInfoInputs.cache
tamagotchi-authorization/obj/Debug/netcoreapp2.1/tamagotchi-authorization.AssemblyInfo.cs
tamagotchi-authorization/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
tamagotchi-authorization/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
tamagotchi-authorization/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
tamagotchi-authorization/obj/tamagotchi-authorization.csproj.nuget.g.targets
tamagotchi-authorization/obj/project.assets.json
